.hero{
    padding: 2.5vw;
    min-height: 80vh;//delimita a imagem verticalmente
    background-image: url(../images/furiosa-1.jpeg);
    background-size: cover; //Ajuste para cobrir toda área
    background-position: center;

    @media(max-width:768px) {
        width: 100%;
    }
    

    img{
        max-width: 32px;
        margin-right: 20px;
        padding-top: 50px
        
    }

    

    &__content{
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        align-items: center; //Centraliza o conteúdo
        padding: 0;
        
        &__social{
            display: flex;
            list-style:none;
            justify-content: center;
            padding: 20px 0; //Reduz o padding em dispositivos moveis
        }
            &__button{
                text-align: center;
                padding: 10px 0;
                width: 100%; //Ajusta a largura
                }
                
                button{
                    background-color: #d0a7a7;
                    border: 1px solid #fdfafa;
                    width: 80%; //Ajusta a largura do botão
                    max-width: 200px;
                    box-shadow: inset 0 0 15px #2f031b;
                    border-radius: 30px;
                    padding: 12px;
                    font-size: 16px;
                    font-family: "Bungee Tint", sans-serif;
                    font-weight: 100;
                    font-style: normal;
                    color: #fff;
                    margin: 8px 0; //Ajuste para o espaçamento entre botôes
                    cursor: pointer;

                    @media(max-width:768px) {
                        width: 100%;
                        padding-right: 100px;
                        justify-content: center;
                    }
                }

        
    }
    
}




